.section3{
  padding-top: 7em;
  padding-bottom: 7em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
.ourServicesContainer{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
   max-width: 1400px;
   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-bottom: 1.5em;
   gap: 2em;
}
.span{
  color: rgb(4, 4, 138);;
}
.h1{
  color: black;
  padding-bottom: 0.2em;
  font-size: 2.7rem;
}
.mainText{
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  line-height: 1.5;
}
.button{
  margin-top: 2em;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 60px 20px 60px;;
  border: 1px solid rgb(1, 63, 135);
  background: rgb(1, 63, 135);
  color: rgb(255, 255, 255);
}
.button:hover{
  outline: none;
  box-shadow: none;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: black;
 
}
@media (max-width: 600px) {
  .section3{
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .h1{
    font-size: 2.1rem;
  }
  .mainText{
    font-size: 1.3rem;
    line-height: 1.3;
  }
}