@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
.main {
  font-family: Barlow;
  letter-spacing: 2px;
  overflow: hidden;
}
.parallaxContainer{
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.section1 {
  background-image: url("/mainPhoto2.webp");
  background-size: cover;
  background-position: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slogan{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.662);
  gap:15px;
  border-radius: 20px;
}

.title{
  padding: 20px;
  margin: 0;
  padding: 0;
  font-size:3em;
  color: rgb(209, 209, 209);
}
.subTitle{
  font-size: 2em;
  color: rgb(195, 195, 195);
}
.button{
  cursor: pointer;
  font-size: 16px;
  padding: 20px 30px 20px 30px;;
  border-radius: 50px;
  border: 1px white solid;
  color: white;
  background-color: transparent;
}
@media(max-width:500px){
  .button{
    padding: 15px 25px 15px 25px;
    font-size: 14px;
  }
  .title{
    font-size:1.8em;
  }
  .subTitle{
    font-size: 1.5em;
  }
}
.button:hover{
  background-color: white;
  color: black;
  border: 1px rgb(0, 0, 0) solid;
}
.section2{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100%;
  padding-bottom: 3em;
}
.ourServicesContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   max-width: 1300px;
   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-bottom: 1.5em;
}
.ourTitle{
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 2em;
}
.services{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
@media(max-width:750px){
  .services{
    gap: 2em;
  }
}
.service{
  padding: 25px;
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: black;
  gap: 1em;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 10px;

}
@media(max-width:3800px){
  .service{
   width: 310px;
  }
}
.service h4 {
  font-size: 2em;
}
.service p {
  font-size: 1.1em;
  color: rgb(184, 184, 184);
}
.section3{
  padding-top: 10em;
  padding-bottom: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
.h1{
  text-align: center;
  color: black;
  padding-bottom: 1em;
  font-size: 3em;
  margin: 0 auto;
}
.mainText{
  text-align: center;
  margin: 0 auto;
  color: rgb(76, 76, 76);
  font-size: 1.8em;
}
.buttonBlack{
  margin-top: 3em;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 50px 20px 50px;;
  border-radius: 50px;
  border: 1px rgb(0, 0, 0) solid;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.buttonBlack:hover{
  background-color: black;
  color: white;
}
.section4{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  padding-bottom: 3em;
}
.ourFavorsContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 1400px;
   padding-left: 1.5em;
   padding-right: 1.5em;
   gap: 4em;
}

.favors{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  flex-direction: column;
}
.favorTitle{
  text-align: left;
  font-size: 2em;
  padding-bottom: 1em;
}
.favor{
  font-size: 1.4em;
}
.favorImg{
  height: 100%;
  width: 650px;
  filter: brightness(50%);
  border: 1px white solid;
}
@media(max-width:1300px){
  .favors{
    gap: 1em;
  }
.favorImg{
  width: 500px;
}
}
@media(max-width:1000px){
  .section4{
    padding-top: 3em;
    padding-bottom: 3em;
    height: 100%;
  }
.ourFavorsContainer{
  flex-direction: column;
  max-width: 600px;
  gap: 3em;
}
.favorImg{
  width: 600px;
}
}

@media(max-width:650px){
  .section4{
    padding-top: 5em;
    padding-bottom: 5em;
    height: 100%;
  }
.favorImg{
  width: 100%;
  height: auto;
}
.favors{
 padding: 1.5em;
}
}
.section5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 5em; */
  height: 100vh;
  padding-left: 1em;
  padding-right: 1em;
}
@media(max-width:1000px){
  .section5{
    height: 800px;
    padding-bottom: 5em;
    padding-top: 7em;
  }
}
.section6{
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100%;
}
.projectContainer{
  /* background-image: url("/pr2.webp"); */
  background-color: rgb(255, 255, 255);
  /* filter:  brightness(20%); */
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.projectContent{
  flex-direction:column ;
  gap: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 1300px;
}
.projectContent h2{
  font-size: 2em;
}
.projectContent p{
  text-align: left;
  font-size: 2em;
}
@media(max-width:1300px){
  .projectContent{
    width: 1000px;
  }
}
@media(max-width:1000px){
  .projectContent{
    width: 700px;
  }
}
@media(max-width:700px){
  .projectContent{
    width: 480px;
  }
  .projectContent p{
    font-size: 1.5em;
  }
}
@media(max-width:500px){
  .projectContent{
    width: 380px;
  }
}
@media(max-width:400px){
  .projectContent{
    width: 320px;
  }
  .projectContent p{
    font-size: 1.3em;
  }
}

.projectContent button{
  margin-top: 3em;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 50px 20px 50px;;
  border-radius: 50px;
  border: 1px rgb(0, 0, 0) solid;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.projectContent button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}