.section8{
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section8Container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("/goods.jpg");
  background-size: cover;
  background-position: left;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  padding-left: 5em;
  padding-right: 5em;
}
@media(max-width:1200px){
  .section8Container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7em;
  }
  .section8{
    height: 130vh;
  }
}
.slogan{
  padding-left: 3rem;
  padding-right: 3em;
  padding-top:3em;
  padding-bottom: 3em;
  background: white;
  
}
.slogan{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.5rem;
  width: 400px;
}

.sloganTitle{
  white-space: nowrap;
  font-size: 2rem;
  color: rgb(0, 54, 115)
}
.sloganBottom{
  white-space: nowrap;
  display: flex;
  gap: 3em;
  align-items: center;
  color: rgb(0, 54, 115)
}
@media(max-width:600px){
  .slogan{
    padding-left: 2em;
    padding-right: 2em;
}
.sloganTitle{
  font-size: 1.7rem;
  color: rgb(0, 54, 115)
}
}
@media(max-width:450px){
  .slogan{
    width: 325px;
    padding-left: 2em;
    padding-right: 2em;
}
.sloganTitle{
  font-size: 1.7rem;
  color: rgb(0, 54, 115)
}
.sloganBottom{
  white-space: nowrap;
  display: flex;
  gap: 2em;
  align-items: center;
  color: rgb(0, 54, 115)
}
}
.sloganButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px  rgb(0, 54, 115) solid;
  /* background: rgb(0, 31, 66); */
  color: rgb(0, 54, 115);
  
}
.sloganButton img {
  animation: swing 1s infinite;
}
@keyframes swing {
  0% { transform: translateX(0); }
  50% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}