@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
.main {
  font-family: Barlow;
  letter-spacing: 2px;
  overflow: hidden;
}
.section2{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100%;
  padding-bottom: 3em;
}

.ourTitle{
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 2em;
}
.services{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
@media(max-width:750px){
  .services{
    gap: 2em;
  }
}
.service{
  padding: 25px;
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: black;
  gap: 1em;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 10px;

}
@media(max-width:380px){
  .service{
   width: 310px;
  }
}
.service h4 {
  color: white;
  font-size: 2em;
}
.service p {
  font-size: 1.1em;
  color: rgb(184, 184, 184);
}

.section4{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  padding-bottom: 3em;
}
.ourFavorsContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 1400px;
   padding-left: 1.5em;
   padding-right: 1.5em;
   gap: 4em;
}

.favors{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  flex-direction: column;
}
.favorTitle{
  color: white;
  text-align: left;
  font-size: 2em;
  padding-bottom: 1em;
}
.favor{
  color: white;
  font-size: 1.4em;
}
.favorImg{
  height: 100%;
  width: 650px;
  filter: brightness(50%);
  border: 1px white solid;
}
@media(max-width:1300px){
  .favors{
    gap: 1em;
  }
.favorImg{
  width: 500px;
}
}
@media(max-width:1000px){
  .section4{
    padding-top: 3em;
    padding-bottom: 3em;
    height: 100%;
  }
.ourFavorsContainer{
  flex-direction: column;
  max-width: 600px;
  gap: 3em;
}
.favorImg{
  width: 600px;
}
}

@media(max-width:650px){
  .section4{
    padding-top: 5em;
    padding-bottom: 5em;
    height: 100%;
  }
.favorImg{
  width: 100%;
  height: auto;
}
.favors{
 padding: 1.5em;
}
}
.section5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 5em; */
  height: 100vh;
  padding-left: 1em;
  padding-right: 1em;
  background-color:  rgb(0, 0, 0);
}
@media(max-width:1000px){
  .section5{
    height: 800px;
    padding-bottom: 5em;
    padding-top: 7em;
  }
}
